@import url(http://fonts.googleapis.com/css?family=Exo:100,300,400);
/* line 3, /Users/shadjahangir/Desktop/untitled folder/css/style.scss */
body {
  font-family: 'Exo', sans-serif;
  margin: 0; }
  /* line 7, /Users/shadjahangir/Desktop/untitled folder/css/style.scss */
  body #mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    z-index: 100;
    padding: 0;
    margin: 0;
    margin-top: 200px; }
    /* line 18, /Users/shadjahangir/Desktop/untitled folder/css/style.scss */
    body #mask .cont {
      width: 800px;
      margin: auto;
      text-align: center; }
      /* line 24, /Users/shadjahangir/Desktop/untitled folder/css/style.scss */
      body #mask .cont h1 {
        font-size: 4em;
        font-weight: 100;
        color: white; }
      /* line 30, /Users/shadjahangir/Desktop/untitled folder/css/style.scss */
      body #mask .cont h3 {
        margin-top: -30px;
        font-size: 2em;
        font-weight: 100;
        color: white; }
      /* line 38, /Users/shadjahangir/Desktop/untitled folder/css/style.scss */
      body #mask .cont form {
        color: white; }
        /* line 40, /Users/shadjahangir/Desktop/untitled folder/css/style.scss */
        body #mask .cont form button {
          margin: 10px;
          padding: 10px;
          border-radius: 5px;
          border: 0;
          background: #FF4136;
          font-family: inherit;
          font-weight: 100;
          font-size: 2em;
          cursor: pointer;
          margin-top: 50px;
          color: white; }
  /* line 57, /Users/shadjahangir/Desktop/untitled folder/css/style.scss */
  body video.bgvid {
    width: 100%;
    z-index: 0; }
  /* line 63, /Users/shadjahangir/Desktop/untitled folder/css/style.scss */
  body .main {
    margin: auto;
    width: 800px; }
